body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}



main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(98, 93, 93, 0.1);
}

.profile-img {
    max-width: 150px;
    border-radius: 50%;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-content .name-role {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-content .contact-info {
    align-self: center;
}
.header-content figure {
    align-self: center;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

address p, footer p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

article {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
}